.item-result {
    display: flex;
    min-height: 40px;
    max-height: 40px;
    transition: all 0.2s ease-out;
    overflow: hidden;
    margin: 2px 0;
}

.item-result:hover {
    cursor: pointer;
    background-color: var(--hint-color);
}

.item-result img {
    height: 100%;
    width: auto;
}

.item-result p {
    width: 100%;
    margin: auto;
    padding: 0 10px;
    color: var(--text-color);
}

.song {
    width: 100%;
    margin: 15px 20px;
    transition: transform 0.2s ease-out;
}

.song:hover {
    cursor: pointer;
    transform: translate(5px, -10px);
}

.song .card-song {
    width: 250px;
    height: 250px;
    border-radius: 8px;
    overflow: hidden;
}

.song .card-song img {
    width: 100%;
    height: auto;
}

.song .Title{
    color: var(--text-color);
    font-size: 0.9rem;
    margin: 0;
    white-space: nowrap;
    width: 250px;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 700;
}